/* Gebruikt lettertype*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Styling body*/
body {
    margin-top: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #9f9f9f; /*#e8f5ff*/
    color: #333;
    margin: 0;
}

/* Styling buttons */
.my-button-class {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background-color: #D9BCFF;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.my-button-class:hover {
    background-color: #3C096C;
    color: #ffffff;
}

.styled-text-imput {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

/* Focus effect (when the input field is clicked or focused) */
.styled-text-imput:focus {
    outline: none;
    border-color: #3C096C;
    box-shadow: 0 0 5px #3C096C;
}

/* Styling sections */
section {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
    background-color: #FCFAFF;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
}

.side-by-side{
    display: flex;
    flex-direction: row;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.alt {
    width: 100%;
    margin-left: 0%;
    margin-right: 2%;
    margin-top: 20px;
    background-color: #FCFAFF;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
}

.alt-1 {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 20px;
    background-color: #FCFAFF;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
}

