/* Gebruikt lettertype*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Styling body*/
body {
    margin-top: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #9f9f9f; /*#e8f5ff*/
    color: #333;
    margin: 0;
}

img {
    display: block; /* Ensures it behaves like a block element */
    margin: 0 auto; /* Centers the image */
    max-width: 100%; /* Responsive image */
    height: auto; /* Maintains aspect ratio */
}

/* Styling buttons */
.my-button-class {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background-color: #D9BCFF;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.my-button-class:hover {
    background-color: #3C096C;
    color: #ffffff;
}

.styled-text-imput {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

/* Focus effect (when the input field is clicked or focused) */
.styled-text-imput:focus {
    outline: none;
    border-color: #3C096C;
    box-shadow: 0 0 5px #3C096C;
}

/* Styling sections */
section {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;
    background-color: #FCFAFF;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
}

.project-display{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 140px;
}

.project{
    width: 29%;
    background-color: #D9BCFF;
    object-fit: contain;
}

img {
    width: 100%;      /* Make the image take up the full width of the container */
    height: max;    /* Fixed height */
    object-fit: cover; /* Scale the image to cover the container */
}

.side-by-side{
    display: flex;
    flex-direction: row;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.alt {
    width: 100%;
    margin-left: 0%;
    margin-right: 2%;
    margin-top: 20px;
    background-color: #FCFAFF;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
}

.alt-1 {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 20px;
    background-color: #FCFAFF;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
}

.small-text{
    font-size: 0.7em;
}

.description{
    white-space: pre-line; /* Preserves line breaks */
    max-height: 300px; /* Set your desired max height */
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: thin; /* Options: auto, thin */
    scrollbar-color: #f1f1f1 #D9BCFF; /* Handle color and track color */
}


