/* Styling buttons */
.my-button-class {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    background-color: #D9BCFF;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.my-button-class:hover {
    background-color: #3C096C;
    color: #ffffff;
}